* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background: url(../images/noise-bg.png) repeat;
}

h3 {
    font-size: 1.75rem;
}

input {
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.col-form-label {
    padding-top: calc(.5rem - 1px * 2);
    padding-bottom: calc(.5rem - 1px * 2);
    margin-bottom: 0;
}

.playing-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    padding: 3%;
    height: 100vh;
    background: -moz-linear-gradient(225deg, #FFFFFF 0%, #008080 100%); /* ff3.6+ */
    background: -webkit-linear-gradient(225deg, #FFFFFF 0%, #008080 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(225deg, #FFFFFF 0%, #008080 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(225deg, #FFFFFF 0%, #008080 100%); /* ie10+ */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.options {
    flex-grow: 2;
}

.options form {
    display: flex;
    flex-direction: column;
}

.personal-information,
.settings {
    display: flex;
    flex-direction: row;
    padding: .75rem 0;
}

.personal-information {
    justify-content: space-around;
}

.settings {
    justify-content: center;
}

.settings fieldset {
    padding: .5rem .75rem;
    border: 0;
}

fieldset div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    cursor: pointer;
}